@import url(../global/global.css);

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-title {
  font-size: 24px;
}
.logo-link {
  color: var(--primary-text-color);
}
.bg {
  background-color: var(--secondary-color);
  width: 100%;
  height: 1100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box2 {
  margin-bottom: 30px;
}
.box2-title {
  color: var(--primary-text-color);
  font-size: 60px;
  margin-bottom: 40px;
  text-align: center;
  font-weight: bold;
}

.box2-text {
  opacity: 70%;
  text-align: center;
}

.login-card {
  background-color: var(--color-white);
  width: 100%;
  max-width: 350px;
  height: auto;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  padding: 30px;
  box-shadow: 0 34px 33px -23px #161c2e21;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.input-group {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.input-label {
  font-weight: bold;
  color: var(--primary-text-color);
}
.contact-input {
  padding: 22px 24px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  line-height: 10px;
  outline: none;
  font-size: 18px;
}
.contact-input:focus {
  border-color: var(--color-button);
}
.btn {
  background-color: var(--color-button);
  color: var(--color-white);
  border: none;
  padding: 18px 20px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 30px;
  width: 100%;
}

.register-box {
  margin-top: 30px;
  text-align: center;
}

.register-link {
  color: var(--color-button);
  cursor: pointer;
  text-decoration: none;
}
