.header-main {
  background-color: var(--color-white);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 200px;
}

.logo-title {
  cursor: pointer;
  color: var(--primary-text-color);
  font-size: 28px;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
}

.box {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
}

.nav-list {
  padding: 0;
  font-size: 15px;
  display: flex;
  gap: 5px;
  align-items: center;
}

.nav-link {
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s;
  color: var(--primary-text-color);
}
.nav-link:hover {
  color: #fc593b;
}

.nav-list .nav-item {
  display: inline;
  padding: 2px 16px;
}

.footer-main {
  background-color: var(--primary-text-color);
  color: var(--color-white);
}

.footer {
  text-align: left;
  padding: 120px 200px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-item {
  height: 100%;
  margin-right: 60px;
}

.footer-item:last-child {
  margin-right: 0;
}

.footer-item:first-child {
  width: 274px;
}

.footer-item-title {
  opacity: 65%;
  font-size: 15px;
  margin-bottom: 30px;
  line-height: 26px;
}

.footer-list-item {
  margin-top: 15px;
}

.footer-list-link {
  color: var(--color-white);
  text-decoration: none;
  font-weight: 300;
  font-size: 17px;
}

.footer-title {
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 30px;
}

.social-icons {
  display: flex;
  gap: 16px;
  margin-top: 35px;
}

.footer-icon {
  width: 24px;
  height: 18px;
  opacity: 0.7;
}
